<img id="logo" src="../assets/leanix-logo.jpg">
<h1>Coding Challenge</h1>

<mat-grid-list cols="5">
    <mat-grid-tile id="repository-table" [colspan]="2">
        <mat-card>
            <mat-card-header>
                <h2>Public Repositories</h2>
            </mat-card-header>
            <mat-card-content>
                <app-table></app-table>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3" style="height: 100%" >
        <mat-card>
            <mat-card-header>
                <h2>Repository contributors</h2>
            </mat-card-header>
            <mat-card-content>
                <router-outlet></router-outlet>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>