<img id="logo" src="../assets/leanix-logo.jpg">
<h1>Coding Challenge</h1>

<div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
    <div class="item item-1" fxFlex="40%">
        <mat-card id="repository-table">
            <mat-card-header>
                <h2>Public Repositories</h2>
            </mat-card-header>
            <mat-card-content>
                <app-table></app-table>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="item item-3" fxFlex="45%">
        <mat-card id="contributor-list">
            <mat-card-header>
                <h2>Repository contributors</h2>
            </mat-card-header>
            <mat-card-content>
                <router-outlet></router-outlet>
            </mat-card-content>
        </mat-card>
    </div>
</div>
