#logo {
    max-width: 10%;
    float: left;
    margin: 0 2% 0 5%;
}

h1 {
    font-size: 300%;
    color: blue;
}

#repository-table {
    background-color: aliceblue;
    margin: 0 20% 2% 20%;
}

#contributor-list {
    background-color: rgb(243, 151, 97);
    margin: 0 20% 2% 0;
}
